.App {
    height: 100%;
}

body.rtl {
  direction: rtl;
  text-align: right;
}

body.rtl nav {
  flex-direction: row-reverse;
}

body.rtl .Header {
  direction: rtl;
}

body.rtl .language-switcher {
  direction: ltr;
}